<h1><%= @q1.en.capitalize %> <%= @q1.remark.to_s.split("/")[0] %>...</h1>
<div align="center">
  <div>
    <% @q2s.each do |q2| %>
    <div style="margin:20px 0;">
      <%= link_to "<button type='button' class='btn custom_button' style='width:270px;'>#{q2.en}</button>".html_safe,
          "#" %>
    </div>
    <% end %>
  </div>
</div>
