<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= link_to "infomation", infomation_index_path %>
      <%= link_to "reply(test)", reply_index_path %>
    </ul>
  </div>
</nav>


    <h1>あすくみい</h1>
    <ul>
      please select your question!
    </ul>

    <div  class="container">

      <!-- 質問文のタブ -->
		<section>
			<h1>Tabs</h1>
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#place" aria-controls="place" role="tab" data-toggle="tag">Place...</a></li>
					<li role="presentation"><a href="#problems" aria-controls="problems" role="tab" data-toggle="tab">Problems ...</a></li>
					<li role="presentation"><a href="#others" aria-controls="others" role="tab" data-toggle="tab">Others ...</a></li>
					</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="place">
						<p> Place... </p>
					</div>
					<div role="tabpanel" class="tab-pane" id="problems">
						<p> Problems</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="others">
						<p> Others</p>
					</div>
				</div>
			</div>
		</section>
	</div>
