<div align="center">
  <font face="HG行書体" size="6">欢迎光临</font>
  <font face="HG行書体" size="6">京都!</font>

  <p>
    <%= image_tag 'askme.png', :size => '200x130'%>
  </p>

  <font face="HG行書体" size="4">交流工具</font>
  <br/>
</div>

<br/>
<br/>

<font face="Script" size="4">请选择您的问题!</font><br />
<section>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active ">
        <a href="#place" class="custom_content" aria-controls="place" role="tab" data-toggle="tab">地点</a>
      </li>
      <li role="presentation">
        <a href="#problems" class="custom_content" aria-controls="problems" role="tab" data-toggle="tab">困惑</a>
      </li>
      <li role="presentation">
        <a href="#others" class="custom_content" aria-controls="others" role="tab" data-toggle="tab">其他</a>
      </li>
    </ul>
<!-- タブ -->
    <div class="tab-content" align="center">
      <% [:place, :problems, :others].each do |tab| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if tab == :place %>" id="<%= tab %>">
  	  <% @q1s = QuestionPartOne.where(tab_type: tab.to_s) %>
          <% @q1s.each do |q1| %>
            <div style="margin:20px 0;">
              <%= link_to "<button type='button' class='btn custom_button' style='width:270px;'>#{q1.zh}</button>".html_safe,
                  controller: :ask, action: :index, q1_id: q1.id, la: "zh" %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</section>
