<h1>あすくみい</h1>
<p>Please select your question!</p>
<section>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#how" aria-controls="how" role="tab" data-toggle="tag">How</a></li>
      <li role="presentation"><a href="#htgt" aria-controls="htgt" role="tab" data-toggle="tab">How to go to ...</a></li>
      <li role="presentation"><a href="#hltt" aria-controls="hltt" role="tab" data-toggle="tab">How long to take ...</a></li>
      <li role="presentation"><a href="#what" aria-controls="what" role="tab" data-toggle="tab">What</a></li>
      <li role="presentation"><a href="#wn" aria-controls="wn" role="tab" data-toggle="tab">What number...</a></li>
      <li role="presentation"><a href="#wt" aria-controls="wt" role="tab" data-toggle="tab">What time ...</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="how">
	<p> how </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="htgt">
	<p> how to go to</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="hltt">
	<p> how long to take</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="what">
	<p> what </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="wn">
	<p> what number </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="wt">
	<p> what time </p>
      </div>
    </div>
  </div>
</section>
