<div align="center"><h1>あすくみい</h1></div>
<p>Please select your question!</p>
<section>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active ">
        <a href="#place" class="custom_content" aria-controls="place" role="tab" data-toggle="tab">place</a>
      </li>
      <li role="presentation">
        <a href="#problems" class="custom_content" aria-controls="problems" role="tab" data-toggle="tab">problems</a>
      </li>
      <li role="presentation">
        <a href="#others" class="custom_content" aria-controls="others" role="tab" data-toggle="tab">others</a>
      </li>
    </ul>
    <div class="tab-content" align="center">
      <% [:place, :problems, :others].each do |tab| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if tab == :place %>" id="<%= tab %>">
  	  <% @q1s = QuestionPartOne.where(tab_type: tab.to_s) %>
          <% @q1s.each do |q1| %>
            <div style="margin:20px 0;">
              <%= link_to "<button type='button' class='btn custom_button' style='width:270px;'>#{q1.en}</button>".html_safe,
                  controller: :ask, action: :index, q1_id: q1.id %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</section>
