<div class="reply_column_1">入力された英文</div>
<h4 class="margin5">
  <%= @q1.en + " " + @q1.remark.to_s.split("/")[0].to_s + " " +  @q2.en + @q2.remark.to_s.split("/")[0].to_s %>
</h4>

<div class="reply_column_2">翻訳</div>
<h4 class="margin5">
  <%= @a.tran.sub(/（.*）/, @q2.jp.to_s) %>
</h4>

<div class="reply_column_3">返答の一例</div>
<h4 class="margin5">
  <%= @a.en.split("/")[0].to_s.sub(/（.*）/, @q2.jp.to_s) %>
</h4>

<div class="reply_column_4">このような表現も使いましょう</div>
