<ul>
  <li>入力されたキーワード
    <p>
      <%= @reply %>
    </p>

  <li>予想される翻訳
    <p>
      <% @as = Answer.where(code: 23) %>
      <% @as.each do |a| %>
        <%= @a %>
      <% end %>
    </p>

  <li>適した返答
    <p>
    </p>

  <li>ワンポイントアドバイス
    <p>
      （～系統）で乗って、（～方面）へ行き、（降りるべき駅）で降りてください。	<br>
      Take the (～系統) line going toward (～行き/～方面) and get off at (降りるべき駅).<br>
    </p>
</ul>
