<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sample</title>
  <!-- BootstrapのCSS読み込み -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

  <ul>
    <li>入力されたキーワード
      <p>
        <%= @reply %>
      </p>

      <li>予想される翻訳
        <p>
          <% @as = Answer.where(q2_code: ) %>
          <% @as.each do |as| %>
          <%= @as %>
          <% end %>
        </p>

        <li>適した返答
          <p>
          </p>

          <li>ワンポイントアドバイス
            <p>
              （～系統）で乗って、（～方面）へ行き、（降りるべき駅）で降りてください。	<br>
              Take the (～系統) line going toward (～行き/～方面) and get off at (降りるべき駅).<br>
            </p>
          </ul>

          </html>
