<p id="notice"><%= notice %></p>

<h1>単語集</h1>

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<table>
  <tbody>
    <h4 class="margin5">
      <% Word.all.each do |w| %>
        <%= w.jp %>
        <%= w.en %><hr>
      <% end %>
    </h4>

  </tbody>
</table>
