<h1 class="title">information</h1>
<div class="margin10">京都有旅游信息中心</div>

<div class="column">①京都旅游信息中心</div>
<table>
  <tr>
    <th class="column_item">小时</th>
    <th class="sub_colum_font">8:30 上午 ~ 7:00 下午</th>
  </tr>
  <tr>
    <th class="column_item">电话</th>
    <th class="sub_colum_font">(+81)75-343-0548</th>
  </tr>
  <tr>
    <th valign="middle" class="column_item">访问</th>
    <th class="sub_colum_font">位于2F京都站大楼，在大厅</th>
  </tr>
</table>
<div class="iframe-content">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1634.4006939069573!2d135.758302!3d34.9866393!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600108aec20250c5%3A0x5b7736c124459068!2z5Lqs6YO957eP5ZCI6Kaz5YWJ5qGI5YaF5omA77yI5Lqs44Gq44Gz77yJ!5e0!3m2!1sja!2sjp!4v1503623888273" frameborder="0"></iframe>
</div>
<div class="margin10"><%= image_tag 'info_center_1.jpg' %></div>

<div class="column">②京都车站旅游信息中心</div>
<table>
  <tr>
    <th class="column_item">小时</th>
    <th class="sub_colum_font">7:30 上午 - 7:30 下午</th>
  </tr>
  <tr>
    <th class="column_item">电话</th>
    <th class="sub_colum_font">(+81)75-371-4474</th>
  </tr>
  <tr>
    <th valign="middle" class="column_item">访问</th>
    <th class="sub_colum_font">JR京都车站或城市巴士总站步行1分钟</th>
  </tr>
</table>
<div class="iframe-content">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1634.4006939069573!2d135.758302!3d34.9866393!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600108ae918b02ef%3A0xb61a446e74a21c08!2z5Lqs6YO96aeF!5e0!3m2!1sja!2sjp!4v1503623403637" frameborder="0"></iframe>
</div>
<div class="margin10"><%= image_tag 'info_center_2.jpg' %></div>

<div class="column">③韩国旅游信息中心，京都</div>
<table>
  <tr>
    <th class="column_item">小时</th>
    <th class="sub_colum_font">8:30 上午 - 5:00 下午</th>
  </tr>
  <tr>
    <th class="column_item">电话</th>
    <th class="sub_colum_font">(+81)75-252-5507</th>
  </tr>
  <tr>
    <th valign="middle" class="column_item">访问</th>
    <th class="sub_colum_font">在阪急川原町站的中央大门</th>
  </tr>
</table>
<div class="iframe-content">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.761910553243!2d135.75714031744383!3d34.987628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600108afa879706b%3A0xaf037921268db174!2z6Zai6KW_44OE44O844Oq44K544OI44Kk44Oz44OV44Kp44Oh44O844K344On44Oz44K744Oz44K_44O85Lqs6YO9IEthbnNhaSBUb3VyaXN0IEluZm9ybWF0aW9uIENlbnRlciBLeW90bw!5e0!3m2!1sja!2sjp!4v1503622586425" frameborder="0"></iframe>
</div>
<div class="margin10"><%= image_tag 'info_center_3.jpg' %></div>