.column {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    margin: 10px;
}

.column_item {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    width: 60px;
    color: white;/*文字色*/
    background: #364e96;
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.7em;/*角丸*/
    margin: 5px 10px 5px 0px;
}

.sub_column {
    margin: 15px
}

.sub_colum_font {
    font-weight: normal;
    font-size: 1.2em;
    vertical-align: middle;
}

table {
    margin: 15px;
}

.margin10 {
    margin: 20px;
}