.column {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    margin: 10px 0px;
}

.select_tab_column{
    position: relative;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bold;
    background: #97c56a;
    padding: 0.25em 0.5em;
    border-left: solid 2em #5c9ee7;
}

.select_tab_column:before, .select_tab_column:after{
    font-family: FontAwesome;
    position: absolute;
    padding: 0em;
    color: white;
    font-weight: normal;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-52%);
}
.select_tab_column:before{
    content: "\f075";
    color: white;
    font-size: 1.3em;
    left: -1.25em;
}
.select_tab_column:after{
    content: "\f128";
    color: #5c9ee7;
    font-size: 0.8em;
    left: -1.55em;
}

.column_item {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    width: 60px;
    color: white;/*文字色*/
    background: #364e96;
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.7em;/*角丸*/
    margin: 5px 10px 5px 0px;
}

.sub_column {
    margin: 15px
}

.sub_colum_font {
    font-weight: normal;
    font-size: 1.2em;
    vertical-align: middle;
}

table {
    margin: 15px;
}

.margin10 {
  margin: 20px;
}

.margin5 {
  margin: 20px 10px;
}

.title {
    position: relative;/*相対位置*/
    padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
    line-height: 0.6;/*行高*/
    color: #ff6a6a;/*文字色*/
    border-bottom: solid 3px #ff6a6a;
    position: relative;
}

.title:before{
    font-family: FontAwesome;/*忘れずに*/
    content: "\f05a";/*アイコンのユニコード*/
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0.25em;/*アイコンの位置*/
    top: 0.5em;/*アイコンの位置*/
    color: #ff6a6a; /*アイコン色*/
}

.reply_column_1 {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  background: #f1f8ff;
  padding: 0.5em 1em;
  border-left: solid 2.3em #5c9ee7;
}

.reply_column_1:before {
  font-family: FontAwesome;
  content: "\f1c2";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: normal;
  left: -1.6em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reply_column_2 {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  background: #f1f8ff;
  padding: 0.5em 1em;
  border-left: solid 2.3em #5c9ee7;
}

.reply_column_2:before {
  font-family: FontAwesome;
  content: "\f064";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: normal;
  left: -1.6em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reply_column_3 {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  background: #f1f8ff;
  padding: 0.5em 1em;
  border-left: solid 2.3em #5c9ee7;
}

.reply_column_3:before {
  font-family: FontAwesome;
  content: "\f27b";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: normal;
  left: -1.6em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reply_column_4{
  font-size: 1.2em;
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.7em;
  margin: 2em 0 0.5em;
}

.reply_column_4:after {/*タブ*/
  font-weight: normal;
  position: absolute;
  font-family: FontAwesome,'Quicksand','Avenir','Arial',sans-serif;
  content: '\f0a7\ ワンポイントアドバイス';
  background: #80c8d1;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 5px 7px 3px;
  font-size: 0.85em;
  line-height: 1;
  letter-spacing: 0.05em;
}