// Place all the styles related to the infomation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";

// Our variables
$button_color: #1e50a2;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$tc-basic-color:  #eee;
$tc-border-color: #ddd;
$bg-content-color: #fef4f4;
$bg-header-color:  #97c56a;
$txt-light-color:  #fff;
$txt-dark-color:   #111;
$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $txt-dark-color;
    background-color: $bg-content-color !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.custom_button {
    background: $button_color !important;
    color: #fff;
}

.custom_header {
    background: $bg-header-color !important;
}

.custom_content {
    background: $bg-content-color !important;
}
